.table-box {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f9fa;
    cursor: pointer;
    transition: all 0.3s ease;
}

.table-box:hover {
    background-color: #e2e6ea;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.modal-content label {
    font-weight: bold;
}

.add-table {
    border: 2px dashed #007bff;
    background-color: #e9f5ff;
}

.table-box .btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}